* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    width: 100vw;
    min-height: 100vh;
    height: auto;
    overflow-x: hidden;
    background-image: url('criss-cross.png');
    background-size: auto;
    font-family: 'RocknRoll One', sans-serif;
    font-weight: 200px;
}
input{
    font-family: inherit;
    font-size: inherit;
    height: 35px;
    border:none;
    outline: none;
    border-bottom: 5px solid blue;
    background-color: lightblue;
}
.home {
    width: 100vw;
    height: auto;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.form_input {
    background-color: burlywood;
    width: 400px;
    position: fixed;
    bottom: 20px;
    left: 20px;
    /* margin: 50px auto; */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);

}
.btn_reset {
    border: none;
    outline: none;
    border-radius: 50px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    font-size: 1.2rem;
    padding: 0 10px;
    height: 35px;
    background-color: lightcoral;
    color: black;
    font-weight: bold;
    cursor: pointer;
}
.btn_reset:hover {
    background-color: lightpink;
    font-weight: bolder;
}
.msg_card{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.msg_card input {
    height: 0px;
}
